<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${animals} and ${animals.size()}">No Animals :(</p>


<table class="table">

    <tr>
        <th>Name</th>
        <th>Species</th>
        <th>Breed</th>
        <th>Age</th>
        <th>Description</th>
        <th>Photo</th>
    </tr>

    <tr th:each="animal : ${animals}">
        <td th:text="${animal.name}"></td>
        <td th:text="${animal.category.name}"></td>
        <td th:text="${animal.description}"></td>
        <td th:text="${animal.category.name}"></td>
        <td th:text="${animal.description}"></td>
    </tr>

</table>

<a href="/animal/add">Add</a> |
<a href="/animal/remove">Remove</a>

</body>
</html>