<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${categories} and ${categories.size()}">no species :(</p>


<table class="table">

    <tr th:each="category : ${categories}">
        <td th:text="${category.name}"></td>
    </tr>

</table>

<a href="/species/add">Add Species</a> |
<a href="/species/remove">Remove Species</a>

</body>
</html>